@import "/src/common/styles/vars.scss";

.login {
    margin:50px 30px 30px;
    display: flex;
    flex-direction: column;
    a.create-acc {
        display: block;
        text-decoration: none;
        font-size: 11px;
        color: $main_color;
        text-align: center;
        margin-top: 14px;
    }
}