@import "/src/common/styles/vars.scss";

.field {
    padding-top: 15px;
    position: relative;
    width: 280px;
    height: 37px;
    
    input.data {
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        border: 0;
        border-bottom: 1px solid $main_color;
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        
        &:valid + label,
        &:focus + label {
            top: 0px;
            font-size: 9px;
        }
    }
    
    label.name {
        pointer-events: none;
        display: block;
        position: absolute;
        top: 15px;
        font-size: 13px;
        color: $gray-color;
        transition: .2s;
        cursor: text;
    }
    
    .error {
        display: block;
        padding-top: 4px;
        font-size: 8px;
        color: $red_color;
        opacity: 0;
        transition: .2s;
        
        &.invalid {
            opacity: 100%;
        }
    }
}
  
  