section.info {
    height: 100vh;
    .img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 95px;
        img {
            display: block;
            height: 100%;
            width: auto;
        }
    }

    button {
        margin: 0 auto;
        margin-top: 160px;
        display: block;
    }
}