extends ../../layout/profile/profile

block style
    link(rel="stylesheet" href="/src/pages/user-edit-password/user-edit-password.scss")
    link(rel="stylesheet" href="/src/pages/components/info-input/info-input.scss")

block script

block content 
    section.info
        -
            const data = {
                src: "",
                type: "password",
                formData: {
                    oldPassword: false,
                    newPassword: false,
                    repeatNewPassword: false
                }
            }
            const KEYS = {
                email: "Почта",
                login: "Логин",
                first_name: "Имя",
                second_name: "Фамилия",
                display_name: "Имя в чате",
                phone: "Телефон",
                oldPassword: "Старый пароль",
                newPassword: "Новый пароль",
                repeatNewPassword: "Повторите новый пароль"
            }
        .img
            img(src=data.src || "https://via.placeholder.com/150", alt="")
        
        form
            each value, key in data.formData
                include ../components/info-input/info-input.pug
        - const btnName = 'Сохранить'
        include ../components/button/button.pug