@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("/static/fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-style: medium;
    font-weight: 500;
    src: local("Inter"), url("/static/fonts/Inter-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    src: local("Inter"), url("/static/fonts/Inter-Bold.woff2") format("woff2");
}

@import "/src/common/styles/vars.scss";

html {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}