$bg_gray_color_fe: #EFEFEF;
$bg_gray_color: #FBFBFB;
$border_color: #EAEAEA;
$gray-color: #999999;
$main_color: #3369F3;
$font_black_color: #1E1E1E;
$font_white_color: white;
$my_message_color: #E4EDFD;
$red_color: #FF2F2F;
$friend_message_color: #F8F8F8;