doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Messanger
    link(rel="stylesheet" href="/src/layout/main/main.scss")
    block style
    block script
  body
    main
      block content