@import "/src/common/styles/vars.scss";

.registration {
    margin:50px 30px 30px;
    display: flex;
    flex-direction: column;
    a.log-in {
        display: block;
        text-decoration: none;
        font-size: 11px;
        color: $main_color;
        text-align: center;
        margin-top: 14px;
    }
}

.error-form {
    display: block;
    padding-top: 4px;
    font-size: 8px;
    color: $red_color;
    opacity: 0;
    transition: .2s;
    margin: 0 auto;
    &.invalid {
        opacity: 100%;
    }
}