extends ../../layout/main/main

block script 
 
block content
    ul.urls
        li.url
            a(href="/src/pages/login/login.pug") login
        li.url
            a(href="/src/pages/registration/registration.pug") registration
        li.url
            a(href="/src/pages/chat-list/chat-list.pug") chat-list
        li.url
            a(href="/src/pages/chat-select/chat-select.pug") chat-select
        li.url
            a(href="/src/pages/user-profile/user-profile.pug") user-profile
        li.url
            a(href="/src/pages/user-edit-profile/user-edit-profile.pug") user-edit-profile
        li.url
            a(href="/src/pages/user-edit-password/user-edit-password.pug") user-edit-password
        li.url
            a(href="/src/pages/error-5xx-page/error-5xx-page.pug") error-5xx-page
        li.url
            a(href="/src/pages/error-404-page/error-404-page.pug") error-404-page