doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    title Authorization
    link(rel="stylesheet" href="/src/layout/auth/auth.scss")
    block style
    block script
  body
    section.auth
      main.block
        block content