doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Authorization
    link(rel="stylesheet" href="/src/layout/auth/auth.scss")
    block style
    block script
  body
    section
      main
        block content