extends ../../layout/main/main

block style
    link(rel="stylesheet" href="/src/pages/error-5xx-page/error-5xx-page.scss")

block script

block content 
    section.error
        span.code 500
        p.description Мы уже фиксим
        a.back(href="/src/pages/chat-list/chat-list.pug") Назад к чатам 