extends ../../layout/main/main

block style
    link(rel="stylesheet" href="/src/pages/error-404-page/error-404-page.scss")

block script

block content 
    section.error
        span 404
        p Не туда попали
        a(href="/src/pages/chat-list/chat-list.pug") Назад к чатам 