doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    title Profile
    link(rel="stylesheet" href="/src/layout/profile/profile.scss")
    block style
    block script
  body
    aside.back
      a(href="/src/pages/chat-list/chat-list.pug") 
          include ../../../static/arrow.svg
    main.content
        block content