@import "/src/common/styles/vars.scss";

aside.list  {
    float: left;
}

.message-field {
    height: 100vh;
    margin-left: 310px;
    &.empty {
        padding: 10px;
        display: flex;
        align-items: center;
        p.warning {
            display: block;
            margin: 0 auto;
            font-size: 12px;
            color: $gray-color;
        }
    }
}