doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        title Messanger
        link(rel="stylesheet" href="/src/common/styles/common.scss")
    body
        #app
        //- .start-menu(style="margin: 50px 50px")
        //-     a(href="/src/pages/login/login.pug" style="display: block") Логин
        //-     a(href="/src/pages/registration/registration.pug" style="display: block") Регистрация
        //-     a(href="/src/pages/user-profile/user-profile.pug" style="display: block") Профиль
        //-     a(href="/src/pages/user-edit-profile/user-edit-profile.pug" style="display: block") Изменить профиль
        //-     a(href="/src/pages/user-edit-password/user-edit-password.pug" style="display: block") Изменить пароль
        //-     a(href="/src/pages/chat-list/chat-list.pug" style="display: block") Чаты
        //-     a(href="/src/pages/chat-select/chat-select.pug" style="display: block") Чат
        //-     a(href="/src/pages/error-404/error4.pug" style="display: block") Ошибка 404
        //-     a(href="/src/pages/error-500/error5.pug" style="display: block") Ошибка 500
        script(type="module" src="index.ts")