@import "/src/common/styles/vars.scss";

section.chats {
    width: 310px;
    background: $bg_gray_color;
    height: 100vh;
    border-right: 1px solid $border_color;
    padding-top: 21px;
    position: relative;

    a.profile {
        display: block;
        text-decoration: none;
        font-size: 12px;
        color: $gray-color;
        text-align: right;
        margin-right: 10px;
    }
    
    input.search {
        display: block;
        height: 32px;
        width: 290px;
        background: $bg_gray_color_fe;
        border-radius: 5px;
        border: 0;
        margin: 23px auto 14px auto;
        font-size: 12px;
        color: $gray-color;
        text-align: center;
    }

    button {
        position: absolute;
        bottom: 5%;
        margin-left: 15px;
    }
}

